In [1]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_excel(r'C:\Users\tahay\Desktop\lib.xlsx')
df.drop('Unnamed: 0',axis=1,inplace=True)
df.columns = ['Kitap_adi','Yazar','Yayinevi','Tur']
df

,Kitap_adi,Yazar,Yayinevi,Tur
0,KİTAP ADI,YAZARI,YAYINEVİ,TÜR
1,10 DAKİKADA BEYİN JİMNASTİĞİ,GARETH MOORE,TİMAŞ YAYINLARI,Roman
2,1931 NOLU MEZAR,Sadık SÖZTUTAN,BABIALİ KÜLTÜR YAYINCILIK,Roman
3,300 SORUDA TASAVVUFİ HAYAT,Hasan Kamil Yılmaz,erkam,Roman
4,31 MART'TA YABANCI PARMAĞI,DOĞAN AVCIOĞLU,kaynak,Roman
...,...,...,...,...
1385,ZIPIR FINDIK,-,TİMAŞ YAYINLARI,Hikaye
1386,ZIT İKİZLER - KAHKAHA DİZİSİ 2,ANNAMARİA PİCCİONE,CAN YAYINLARI,Hikaye
1387,NaN,NaN,NaN,NaN
1388,NaN,NaN,NaN,NaN
1389,NaN,NaN,NaN,NaN

In [38]:
df.index[0]
df.drop(df.index[0],axis=0,inplace= True)

In [39]:
df.dropna(inplace = True)

In [40]:
df

,Kitap_adi,Yazar,Yayinevi,Tur
1,10 DAKİKADA BEYİN JİMNASTİĞİ,GARETH MOORE,TİMAŞ YAYINLARI,Roman
2,1931 NOLU MEZAR,Sadık SÖZTUTAN,BABIALİ KÜLTÜR YAYINCILIK,Roman
3,300 SORUDA TASAVVUFİ HAYAT,Hasan Kamil Yılmaz,erkam,Roman
4,31 MART'TA YABANCI PARMAĞI,DOĞAN AVCIOĞLU,kaynak,Roman
5,40 HADİS,İmam Nevevi,ravza,Dini
...,...,...,...,...
1381,ZAMANDA YOLCULUK-KORSANLARIN PEŞİNDE,Nur İçözü,ALTIN KİTAP,Roman
1382,ZEHİRLİ OK,John Flanagan,BEYAZ BALİNA YAYINLARI,Hikaye Roman
1383,ZENGİN HAYALLER PEŞİNDE,Cahit Zarifoğlu,BEYAN YAYINLARI,Hikaye
1385,ZIPIR FINDIK,-,TİMAŞ YAYINLARI,Hikaye
1386,ZIT İKİZLER - KAHKAHA DİZİSİ 2,ANNAMARİA PİCCİONE,CAN YAYINLARI,Hikaye

In [41]:
df['Kitap_adi']= pd.Series(df['Kitap_adi']).str.replace("'","",regex=True)

In [42]:
sayfa_sayisi= np.random.randint(50,800,950)
page_num = pd.DataFrame(sayfa_sayisi)
page_num.columns= ['sayfa_sayisi']

In [43]:
counter= 1
liste = []
while counter<951:
    month = np.random.randint(1,12)
    day = np.random.randint(1,31)
    year = np.random.randint(1890,2019)
    date = '{}.{}.{}'.format(day,month,year)
    liste.append(date)
    counter += 1

In [44]:
df_date = pd.DataFrame(liste)
df_date.columns = ['Yayin_tarihi']
df_date.index= [np.arange(1,951)]

In [45]:
yeni = df.merge(df_date,on=df.index,how='inner')
yeni.drop('key_0',axis=1,inplace=True)

In [46]:
lib  = yeni.merge(page_num,on=yeni.index,how='inner')
lib.drop('key_0',axis=1,inplace= True)

In [47]:
ısbn = np.random.randint(9000000000000,10000000000000,950,dtype='int64')
ısbn = pd.DataFrame(ısbn)
ısbn.columns = ['ISBN']

In [49]:
lib1 = lib.merge(ısbn,on=lib.index,how = 'inner')
lib1.drop('key_0',axis=1,inplace=True)
lib1

,Kitap_adi,Yazar,Yayinevi,Tur,Yayin_tarihi,sayfa_sayisi,ISBN
0,10 DAKİKADA BEYİN JİMNASTİĞİ,GARETH MOORE,TİMAŞ YAYINLARI,Roman,21.3.2017,430,9426020815739
1,1931 NOLU MEZAR,Sadık SÖZTUTAN,BABIALİ KÜLTÜR YAYINCILIK,Roman,9.2.1915,142,9101917253406
2,300 SORUDA TASAVVUFİ HAYAT,Hasan Kamil Yılmaz,erkam,Roman,27.9.1983,568,9129901539991
3,31 MARTTA YABANCI PARMAĞI,DOĞAN AVCIOĞLU,kaynak,Roman,10.5.1979,487,9966213115274
4,40 HADİS,İmam Nevevi,ravza,Dini,30.4.1893,218,9418015616613
...,...,...,...,...,...,...,...
945,ZAMANDA YOLCULUK-KORSANLARIN PEŞİNDE,Nur İçözü,ALTIN KİTAP,Roman,29.4.1982,55,9265293768475
946,ZEHİRLİ OK,John Flanagan,BEYAZ BALİNA YAYINLARI,Hikaye Roman,7.1.1914,665,9367423983565
947,ZENGİN HAYALLER PEŞİNDE,Cahit Zarifoğlu,BEYAN YAYINLARI,Hikaye,26.10.1926,766,9530618353650
948,ZIPIR FINDIK,-,TİMAŞ YAYINLARI,Hikaye,25.8.1915,691,9946730020239
949,ZIT İKİZLER - KAHKAHA DİZİSİ 2,ANNAMARİA PİCCİONE,CAN YAYINLARI,Hikaye,8.4.1909,321,9313056596721

In [50]:
import sqlite3 as sql

In [51]:
con = sql.connect(r'C:\Users\tahay\Desktop\ML-MATH\library1.db')

In [52]:
lib1.to_sql('kutuphane',con=con)

counter = 0
while counter<951:
    a =df['Kitap Adi'].iloc[counter]
    b =df['Yazar'].iloc[counter]
    counter += 1
    con.execute("INSERT INTO kutuphane('kitap_adi','kitap_yazari') VALUES('{}','{}')".format(a,b))
    con.commit()